@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Saira, sans-serif;
}

/* Global Theme */
@theme {
  --color-background: #0B0B0E;
  --color-foreground: #FFFFFF;

  --color-dark-100: #0B0B0E;
  --color-dark-200: #111827;
  --color-dark-300: #1F2933;
  --color-dark-400: #374151;

  --color-blue: #3B82F6;
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
}

/* Typewriter Effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 0.15em solid var(--color-purple);
  animation:
    typing 3s steps(22, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 16.5ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-purple) }
}
